@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #1A1B1C;
    overflow-x: hidden;
    position: relative;

    &.darkmode {
        background-color: white;
        transition: all .3s ease;

        h1 {
            color: black;
        }

        p {
            color: black;
        }

        h3 {
            color: black;
        }

        h4 {
            color: black;
        }

        ul {
            li {
                color: black;
            }
        }

        .card {
            border: 2px solid black;
        }

        nav {
            color: black;

            .container {
                padding: 30px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1 {
                    animation: logo 3s linear infinite;
                    color: #FE8400;

                    @keyframes logo {
                        0% {
                            letter-spacing: 0px;
                        }

                        50% {
                            letter-spacing: 5px;
                            transform: translate(20px);
                        }

                        100% {
                            letter-spacing: 0px;
                            transform: translate(0px);
                        }
                    }
                }

                ul {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    li {
                        position: relative;
                        cursor: pointer;

                        &::after {
                            content: "";
                            position: absolute;
                            transition: all .3s ease;
                            background-color: #FE8400;
                            width: 0;
                            height: 2px;
                            left: 50%;
                            transform: translate(-50%);
                            bottom: -5px;
                        }

                        &:hover::after {
                            width: 100%;
                        }
                    }
                }

                button {
                    padding: 10px 20px;
                    background-color: #FE8400;
                    color: white;
                    border: none;
                }
            }
        }

        .fourth {
            background-color: black;

            .container {
                padding-top: 50px;

                .title {
                    padding: 30px 0px;

                    h1 {
                        text-align: center;
                        text-decoration: underline;
                    }
                }

                .fourth_box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .fourth_card {
                        width: 277px;
                        background-color: white;
                        padding: 30px;
                        text-align: center;
                        margin-top: 100px;

                        i {
                            font-size: 50px;
                            color: #FE8400;
                            text-align: center;
                            padding: 30px 0px;
                        }

                        h3 {
                            padding: 20px 0px;
                            color: black;
                        }

                        p {
                            padding-bottom: 40px;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

ul {
    list-style: none;
}

@mixin button {
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
}

nav {
    color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    backdrop-filter: blur(5px);
    z-index: 999;

    .container {
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            animation: logo 3s linear infinite;
            color: #FE8400;

            @keyframes logo {
                0% {
                    letter-spacing: 0px;
                }

                50% {
                    letter-spacing: 5px;
                    transform: translate(20px);
                }

                100% {
                    letter-spacing: 0px;
                    transform: translate(0px);
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            gap: 30px;

            li {
                position: relative;
                cursor: pointer;

                &::after {
                    content: "";
                    position: absolute;
                    transition: all .3s ease;
                    background-color: #FE8400;
                    width: 0;
                    height: 2px;
                    left: 50%;
                    transform: translate(-50%);
                    bottom: -5px;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }

        button {
            padding: 10px 20px;
            @include button();
            background-color: #FE8400;
            color: white;
            border: none;
        }
    }
}

.hero {
    color: white;

    .container {
        padding: 100px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            line-height: 30px;
            display: flex;
            align-items: center;
            flex-direction: column;
            color: #FE8400;
        }

        .info {
            width: 500px;
            background-color: rgba(0, 0, 0, 0.349);
            padding: 30px;
            margin-left: 50px;
            z-index: 1;

            h1 {
                color: #000000;
                font-size: 40px;
                letter-spacing: 1px;
            }

            h3 {
                color: white;
                font-size: 20px;
                letter-spacing: 1px;
                padding: 20px 0px;
            }

            button {
                padding: 10px 20px;
                background-color: #FE8400;
                color: white;
                border: none;
                @include button();
                margin-bottom: 30px;
            }



        }

        .hero_img {
            width: 800px;
            height: 500px;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                z-index: -1;
            }
        }
    }
}

.intro {
    .container {
        padding: 50px 0px;

        .title {
            padding: 20px 0px;

            h1 {
                text-align: center;
                color: white;
                position: relative;
                text-decoration: underline;
            }
        }

        .intro_box {
            display: flex;
            align-items: start;
            gap: 50px;
            justify-content: center;

            .intro_card1 {
                width: 500px;

                img {
                    width: 100%;
                }
            }

            .intro_card2 {
                width: 400px;
                color: white;
                padding: 20px 30px;

                p {
                    padding: 20px 0px;
                    letter-spacing: 1px;
                }

                h3 {
                    color: #FE8400;
                }
            }
        }


    }
}

.book_now {
    padding: 50px 0px;

    .container {
        .title {
            text-align: center;
            padding: 30px 0px;

            h1 {
                color: white;
                text-decoration: underline;
            }
        }

        .book_box {
            background-color: #FFE4C6;
            padding: 50px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 40px;
            padding: 30px;

            .book_card {
                width: 300px;
                background-color: #1A1B1C;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px;
                color: white;
                border: 1px solid white;
            }

            button {
                padding: 10px 20px;
                background-color: #FE8400;
                border: none;
                color: white;
                @include button();
            }
        }
    }
}

.third {
    .container {
        padding: 50px 0px;

        .title {
            padding: 30px 0px;

            h1 {
                text-align: center;
                color: white;
                text-decoration: underline;
            }
        }

        .third_box {
            padding: 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .third_card {
                width: 350px;
                padding: 20px;
                border: 2px solid white;
                transition: all .3s ease;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 300px;
                    height: 200px;
                    object-fit: contain;
                    border: 10px;
                    padding: 20px 0px;
                }

                h3 {
                    color: white;
                    padding: 10px;
                }

                ul {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    color: white;
                    padding: 20px 0px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }

                .narx {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .narx_link {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;
                    }

                    button {
                        padding: 10px 20px;
                        background-color: #FE8400;
                        color: white;
                        border: none;
                        @include button();
                    }
                }
            }
        }
    }
}

.fourth {
    background-color: white;

    .container {
        padding-top: 50px;

        .title {
            padding: 30px 0px;

            h1 {
                text-align: center;
                text-decoration: underline;
            }
        }

        .fourth_box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .fourth_card {
                width: 277px;
                background-color: #1A1B1C;
                padding: 30px;
                text-align: center;
                margin-top: 100px;

                i {
                    font-size: 50px;
                    color: #FE8400;
                    text-align: center;
                    padding: 30px 0px;
                }

                h3 {
                    color: white;
                    padding: 20px 0px;
                }

                p {
                    color: white;
                    padding-bottom: 40px;
                }
            }
        }
    }
}

.fifth {
    .container {
        padding: 50px 0px;

        .title {
            padding: 50px 0px;

            h1 {
                text-align: center;
                color: white;
                text-decoration: underline;
            }
        }

        .fifth_box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;

            .fifht_card {
                width: 350px;
                border: 2px solid white;
                padding: 30px;
                text-align: center;

                img {
                    padding: 20px 0px;
                }

                p {
                    color: white;
                    padding: 20px 0px;
                }

                h3 {
                    color: white;
                }
            }
        }
    }
}

.sixth {
    background-color: #FFE4C6;

    .container {
        padding: 50px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card {
            width: 300px;
            color: white;
            text-align: center;
        }
    }
}

footer {
    background-color: white;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0px;
        color: #FE8400;

        ul {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    }
}